In [2]:
import numpy as np
import pandas as pd

In [3]:
pre2025=pd.read_csv('MTA_Bus_Hourly_Ridership__2020-2024.csv')
post2025=pd.read_csv('MTA_Bus_Hourly_Ridership__Beginning_2025.csv')

In [4]:
pre2025.head()

,transit_timestamp,bus_route,payment_method,fare_class_category,ridership,transfers
0,10/23/2024 01:00:00 AM,M79+,omny,Metrocard - Other,0,0
1,10/23/2024 01:00:00 AM,M90,metrocard,Metrocard - Seniors & Disability,0,0
2,10/23/2024 01:00:00 AM,Q07,metrocard,OMNY - Students,0,0
3,10/23/2024 01:00:00 AM,Q100,metrocard,OMNY - Other,0,0
4,10/23/2024 01:00:00 AM,Q107,metrocard,OMNY - Students,0,0

In [5]:
post2025.head()

,transit_timestamp,bus_route,payment_method,fare_class_category,ridership,transfers
0,01/01/2025 09:00:00 PM,S86,omny,OMNY - Fair Fare,0,0
1,01/01/2025 09:00:00 PM,S89,omny,Metrocard - Other,0,0
2,01/01/2025 09:00:00 PM,S91,omny,Metrocard - Students,0,0
3,01/01/2025 09:00:00 PM,S93,omny,Metrocard - Other,0,0
4,01/01/2025 09:00:00 PM,S94,omny,Metrocard - Full Fare,0,0

In [7]:
len(pre2025['ridership'].unique())

1553